<nav class="navigation-tabs">
  <a href="{{ include.home }}#about"><strong>About</strong></a>
  <a href="{{ include.home }}#research"><strong>Research</strong></a>
  <a href="{{ '/lab.html' | relative_url }}"><strong>Group</strong></a>
  <a href="{{ include.home }}#news"><strong>News</strong></a>
  <a href="{{ include.home }}#publications"><strong>Publications</strong></a>
  <a href="{{ include.home }}#teaching"><strong>Teaching</strong></a>
  <a href="{{ '/blog.html' | relative_url }}"><strong>Blog</strong></a>
  <a href="{{ '/misc.html' | relative_url }}"><strong>Misc</strong></a>
</nav>
